*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

:root {
  --primary: #6a59ff;
  --white: #ffffff;
  --bg: #f5f5f5;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (min-width: 1440px) {
  html {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 124rem;
  padding: 4rem 1rem;
  margin: 0 auto;
}

.heading {
  padding: 1rem 0;
  font-size: 5rem;
  text-align: center;
  font-family: 'Berkshire Swash', cursive;
}
.liyafont{
  font-family: 'Shrikhand', cursive;
}
.headingfont{
  font-family: 'Berkshire Swash', cursive;
}
.subheading{
  font-family: 'Berkshire Swash', cursive;
}
.bodyfont{
  font-family: 'Livvic', sans-serif;
  }
/*
.abouttext{
  font-family: 'Almarai', sans-serif;
} */
.swiper_container {
  /* height: 5rem; */
  padding: 2rem 0;
  position: relative;
}

.swiper-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}


@media (max-width: 500px) {
  .swiper_container {
    /* height: 55rem; */
  }
  .swiper-slide {
    width: 28rem !important;
    height: 44rem !important;
  }
  .swiper-slide img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.swiper-slide img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: contain;
  margin-top: 1%;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.slider-controler .slider-arrow {
  /* background: var(--white); */
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.slider-controler .slider-arrow::after {
  content: '';
}

.swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}
.musics{
  box-shadow: 0px 0px 5px #D3D3D3
}
.main{
  animation: zoom-in-fade 2s ease-in-out;
  /* z-index: -10rem; */
}
@keyframes zoom-in-fade {
  0% {
    transform: scale(0.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.show{
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
  transition: all 1s ease-in-out;
  /* z-index: 200000000000000000000; */
}
.welcomeshow{
  filter: blur(0);
  transition: all 1s ease-in-out;
}
.welcome{
  transition: all 1s;
  filter: blur(5px);
}
.no{
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateY(100%)
}
.nav-image{
  /* z-index: -100000; */
}
.overlay-Dark{
  background-color: #000009;
  opacity: 0.5;
}
.navbar{
  /* background-color: transparent; */
  box-shadow: 0px 0px 7px;
}
.nav{
  z-index: 2;
}
.loading-spinner {
  width: 15px;
  height: 15px;
  margin-top: 1rem;
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.landing2 {
  background-image: url("https://res.cloudinary.com/dvl38skbc/image/upload/v1685968017/streetically/DAE6A0C0-E8CA-44B5-AAAD-D6A0527BB686_bypce9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.landing3 {
  background-image: url("./assets/liya3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 20%;
}
.landing {
  background-image: url("https://res.cloudinary.com/dvl38skbc/image/upload/v1685967571/streetically/E9D9A4DA-5B2C-488B-910D-89336EF118A1_cdtlgd.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
@keyframes zoom-in-fade {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.4);
    opacity: 1;
  }
}
.nextbtn{
  z-index: 200000
}
.headfont{
  font-family: 'Rubik Puddles', cursive;
  padding: 1rem 0;
  font-size: 5rem;
  text-align: center;
}
.subheadfont{
  font-family: 'Rubik Puddles', cursive;
}
/* .headcolor{
  background: linear-gradient(to right, #f32170,
#ff6b08, #cf23cf, #eedd44);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
} */
.portfolioButton{
  z-index: 3
}
/* .logoImage{
z-index: 60000000000000
} */
.nav-z{
  margin-top: -10rem;
  z-index: -1;
  position: absolute

}